.col__items {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    justify-content: space-between;
    @include transition-ease;
    @include media-sm {
        grid-template-columns: 100%;
        @include transition-ease;
    }
}
.item {
    width: 100%;
    flex: 1;
    flex-grow: 4;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    margin: 1em 0;
    align-content: center;
    padding: 2px;
    background: whitesmoke;
    box-shadow: 0 8px 8px -7px $bg-main-color;
    :hover {
        opacity: 90%;
        @include transition-ease;
    }
    &__card {
        width: 100%;
        background-color: whitesmoke;
        padding: 10px;
        flex-direction: column;
        @include transition-ease;
        &__brand {
            width: 100%;
            background-color: whitesmoke;
            padding: 10px;
            flex-direction: column;
            display: flex;
            @include transition-ease;
        }
    }
    &__image {
        max-width: 100%;
        max-height: 90%;
        border-radius: 10px 10px 0 0;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        @include transition-ease;
    }
}
