.App-logo {
    background-color: black;
    position: relative;
    overflow: hidden;
    &__image {
        max-height: 30vmax;
        width: 100%;
    }
 nav {
    // position: absolute;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .item__link {
            color: white;
            font-size: large;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            & :hover {
                transition: all 0.3s ease-in-out;
                color: #eaeaea;
            }
        }
    }
}
}
.container {
    max-width: 500px;
    margin: 1em auto;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    span {
        color: white
    }
}