.App-logo {
    background-color: black;
    position: relative;
    overflow: hidden;
    &__image {
        max-height: 30vmax;
        width: 100%;
    }
 nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .item__link {
            color: white;
            font-size: large;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            & :hover {
                transition: all 0.3s ease-in-out;
                color: #eaeaea;
            }
        }
    }
}
}
.container {
    max-width: 500px;
    margin: 1em auto;
}

.footer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    span,.copyright {
        color: white
    }
    .link__item__footer {
        width: 80%;
        padding: 20px 0;
        &__link {
            color: #464646;
            transition: all 0.3s ease-in-out;
                & :hover {
                color: #7a7a7a;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}