@import "./config.scss";
@import "../pages/Home/components/styles.scss";
@import "../components/Layout/styles.scss";
@import "../components/CreatePost/styles.scss";
@import "../pages/Gallery/components/styles.scss";
@import "../pages/Login/components/styles.scss";
@import "../components/DetailItem/component/styles.scss";


html,
body {
  width: 100%;
  height: 100%;
  margin:0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fg-main-color;
  background-position: top;
  background-clip: content-box;
  scroll-behavior: smooth ;
  font-feature-settings: normal;
  -webkit-font-feature-settings: normal;
  background-repeat: no-repeat;
}

#image_Nav{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  background-image: url("../assets/images/bgOtobai.png");
}

#root {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  width: 100%;
  height: 100%;
}
div {
    display: block;
}

nav {
    list-style: none;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
input {
  border-style: none;
  border-image: none;
  :focus-visible {
    outline: none;
    border-style: none;
  }
}

button {
  padding: 5px 10px;
  border-style: none;
}
.d-none{
  display: none;
}